@import 'reset.css';

h1,
h2,
h3 {
  margin: 1em 0 0.5em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em;
}

.game {
  position: relative;
  width: 960px;
  margin: 50px auto 150px auto;
  background: white;
  padding: 1em;
}
#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.player {
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  margin: 10px;
  width: 200px;

  .image {
    width: 75px;
    height: 75px;
    margin: 5px;
  }
}
.player-header {
}
.player-health {
  text-align: center;
}

#status {
  margin: 1em auto;
}
