@import 'reset.css';
@import '_settings.scss';

* {
  box-sizing: border-box;
  position: relative; // Set all elements to relative because MoJS events are absolute
}

h1,
h2,
h3 {
  margin: 1em 0 0.5em 0;
  font-family: sans-serif;
}
h1 {
  margin: 30px 0;
  color: white;
  font-size: 3em;
  text-align: center;
}
h2 {
  margin-top: 50px;
  font-size: 1.5em;
  text-align: center;
}
h3 {
  font-size: 1.3em;
}
header {
  width: 100%;
  padding: 20px;
  height: 150px;
  background-color: $red;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
#game-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
#gameplay-container {
  display: flex;
}
#main-app {
  width: 80%;

  background: white;
  padding: 1em;

  section {
    // height: 300px;
    margin: 25px;
    padding: 20px;

    border: 3px solid $red;

    h2 {
      margin: 15px 0 10px 0;
    }
  }
}
#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.player {
  cursor: pointer;
  transition: 0.5s;
  margin: 10px;
  text-align: center;

  .image {
    width: 200px;
    height: 375px;
    margin: 30px auto;
    transition: 0.2s;
  }

  &:hover {
    .image {
      transform: scale(1.05);
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    }
  }

  &.in-play {
    .image {
      margin: 10px;
      height: 100px;
      text-align: center;
    }
  }
  .player-attributes {
    display: flex;
    justify-content: space-around;
  }
}

#controls {
  text-align: center;
  margin: 20px;
  padding: 1em;

  .btn {
    padding: 10px;
    width: 130px;
    margin: 10px 0;

    font-size: 1.25em;

    border-radius: 0;
    border: 3px solid $red;

    transition: 0.3s;

    &:hover {
      color: white;
      background: $red;
    }
  }
}

#status {
  position: fixed;
  width: 100%;
  height: 100%;

  background: $red;
  color: white;
  z-index: 1;
}
#status-text {
  margin: 25% auto 0 auto;
  text-align: center;
  font-size: 3em;
}
